<!DOCTYPE html>
<html lang="en">
<head>
<!--    <meta charset="UTF-8">-->
    <title>Shop app</title>
</head>
<body>
<h1>Shop App</h1>
<h2>User operations</h2>
<button onclick="location.href='/user/list'">List users</button>
</br>
<button onclick="location.href='/user/find-user-by-id-form'">Find user by id</button>
</br>
<button onclick="location.href='/user/delete-user-by-id-form'">Delete user by id</button>
</br>
<button onclick="location.href='/user/save-new-user-form'">Save new user</button>
</br>
<button onclick="location.href='/user/update-user-form'">Update user</button>
</br>
</body>
</html>